:root {
  --font-base: "Nunito", sans-serif;
  --fondo-app: #1e3006;
  --hover: #b99a1e;
  --texto: #f3f2ea;
  --texto-secundario: black;
  --fondo-boton: #dbbb3c;
  --fondo-celda: #4c6135;
}
.claro{
  --fondo-app: #f5ebe1;
  --hover: #11461d;
  --texto: black;
  --texto-secundario: black;
  --fondo-boton: #44743c;
  --fondo-celda: #fdfcf5;
}

body, button {
  font-family: "Roboto", sans-serif;
}


body{
  background-color: var(--fondo-app);
  color: var(--texto);
}

nav,
#menu {
  background-color: var(--fondo-boton);
  color: var(--fondo-app);
}

a:hover,
a:focus {
  background-color: var(--hover);
  color: var(--texto);
}

a:active {
  background-color: var(--hover);
  color: var(--texto-secundario);
}

.clickeable:hover {
  color: var(--texto-secundario);
}

table thead th {
  background-color: var(--fondo-celda);
}

table td {
  background-color: var(--fondo-celda);
}



button,
.btn-guardar,
.btn-agregar {
  background-color: var(--fondo-boton);
  color: var(--fondo-app);
}

button:active,
.btn-guardar:active,
.btn-agregar:active {
  background-color: var(--hover);
}

#menu-hamburguesa {
  background-color: var(--fondo-boton);
}

#menu-hamburguesa svg {
  color: var(--texto);
}

.btn-atras,
.btn-icono {
  background-color: transparent;
  color: var(--hover);
  border: none;
}

.btn-atras{
  box-shadow: 1px 1px 1px var(--texto-secundario);
}

.ul-checkbox {
  color: var(--texto-secundario);
}

li:not(#menu li){
  background-color: var(--fondo-celda);
}

@media(width <=700px) {

  nav {
    background-color: var(--fondo-app);
    color: var(--texto);
  }

  #menu-hamburguesa {
    background-color: var(--fondo-app);
  }

  #menu-hamburguesa svg {
    color: var(--texto);
  }
}