:root {
  --font-base: "Nunito", sans-serif;
  --fondo-app: #1e3006;
  --hover: #5c773e;
  --texto: #f3f2ea;
  --texto-secundario: black;
  --fondo-boton: #dbbb3c;
  --fondo-celda: #4c6135;
}
body.claro{
  --fondo-app: #f5ebe1;
  --hover: #11461d;
  --texto: black;
  --texto-secundario: black;
  --fondo-boton: #44743c;
  --fondo-celda: #fdfcf5;
}

body, button {
  font-family: var(--fuente-base);
}


body {
  background-color: var(--fondo-app);
  color: var(--texto);
}

body nav,
body #menu {
  background-color: var(--fondo-boton);
  color: var(--fondo-app);
}

body a:hover,
body a:focus {
  background-color: var(--hover);
  color: var(--texto);
}

body a:active {
  background-color: var(--hover);
  color: var(--texto-secundario);
}

body .clickeable:hover {
  color: var(--texto-secundario);
}

body table thead th {
  background-color: var(--fondo-celda);
}

body table td {
  background-color: var(--fondo-celda);
}



body button,
body .btn-guardar,
body .btn-agregar {
  background-color: var(--fondo-boton);
  color: var(--fondo-app);
}

body button:active,
body .btn-guardar:active,
body .btn-agregar:active {
  background-color: var(--hover);
}

body #menu-hamburguesa {
  background-color: var(--fondo-boton);
}

body #menu-hamburguesa svg {
  color: var(--texto);
}

body .btn-atras,
body .btn-icono {
  background-color: transparent;
  color: var(--hover);
  border: none;
}

.btn-atras{
  box-shadow: 1px 1px 1px var(--texto-secundario);
}

body .ul-checkbox {
  color: var(--texto-secundario);
}

@media(width <=700px) {

  body nav {
    background-color: var(--fondo-app);
    color: var(--texto);
  }

  body #menu-hamburguesa {
    background-color: var(--fondo-app);
  }

  body #menu-hamburguesa svg {
    color: var(--texto);
  }
}