body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
  height: 100vh;
}

nav,
footer {
  position: relative;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  justify-content: flex-end;
  width: 100%;
  padding: .5rem auto;
  box-sizing: border-box;
}

footer {
  padding: .5rem;
}

#contenedor {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  width: 100%;
  overflow: hidden;
  overflow-y: auto;
  padding: .5rem 1rem;
  box-sizing: border-box;
  scrollbar-gutter: calc();
  scrollbar-width: thin;
  scrollbar-color: #11461d;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: large;
  padding: .5rem;
  flex: 1;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
  border: none;
}

a:hover,
a:visited,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

a:hover,
a:focus {
  scale: 1.1;
  border: none;
}

table {
  width: 100%;
}

table tbody tr {
  box-sizing: border-box;
  gap: 0;
  padding: 0;
  margin: 0;
  position: relative;
}

table thead th {
  text-align: center;
}

table td {
  text-align: center;
  margin: 0;
  padding: 5px;
  box-sizing: border-box;
}

table tbody tr td:nth-last-child(2) {
  padding-right: 2rem;
}

.clickeable {
  cursor: pointer;
}

.clickeable:hover {
  scale: 1.01;
}

ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  list-style: none;
  margin: 0;
  padding: 0 .5rem;
  box-sizing: border-box;
}

li {
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  padding: .2rem .5rem;
  position: relative;
  text-align: center;
}

button,
.btn-guardar {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  font-size: larger;
}

.btn-icono {
  box-shadow: none;
  border: none;
  width: 25px;
  height: 25px;
  font-size: 0.8em;
  transition: transform 0.3s ease;
}

.flecha-abierta {
  transform: rotate(180deg);
}

button:hover,
.btn-guardar:hover {
  scale: 1.05;
}

#menu-hamburguesa {
  width: 36px;
  height: 36px;
  display: none;
  border-radius: 5px;
  border: none;
  padding: .1rem;
  margin: .2rem;
  box-sizing: border-box;
}


#modo,
#guardarLista {
  padding: .5rem 2rem;
}

#botonera-agregar {
  position: absolute;
  top: 50%;
  translate: 0 -20px;
  right: 2rem;
}

.botonera-flecha-contenedor {
  position: absolute;
  z-index: 10;
  top: 45%;
  right: .3rem;
  transform: translateY(-50%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.botonera-flecha {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 .5rem;
  gap:.5rem;
}

.btn-icono:hover{
  scale: 1.5;
}

.botonera-flecha:not(.oculto) {
  animation: fadeIn 0.5s ease;
}

.div-img {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  padding: 1rem;
  box-sizing: border-box;
  overflow: hidden;
}

.div-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

img {
  height: 100%;
  max-width: 90vw;
  object-fit: contain;
}

header {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  justify-content: center;
  padding: 0 1rem;
  box-sizing: border-box;
}

.titulo-index {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  padding: 0 1rem;
  box-sizing: border-box;
}

.titulo-index h1,
.titulo-index p {
  text-align: center;
}

#menu {
  list-style: none;
  display: flex;
  flex-direction: row;
  max-width: 100vw;
  padding: 0.1rem;
  box-sizing: border-box;
  gap: 0;
}

#menu li {
  display: flex;
  margin: 0;
  width: 100%;
  padding: 0;
  box-sizing: border-box;
}

.cambiar-modo,
#guardarLista {
  width: max-content;
}

.oculto {
  display: none;
}

.botonera {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  gap: 2rem;
}

.celda-cantidad{
  margin: 0;
  padding: 0;
}
.celda-cant-botonera{
  position: relative;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: .2rem;
  box-sizing: border-box;
}

.botonera-cantidad{
  display: flex;
  z-index: 10;
  position: absolute;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0 .5rem;
  width: 100%;
  box-sizing: border-box;  
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@media(width <=700px) {
  h1 {
    font-size: 1.5em;
    text-align: center;
  }

  #menu {
    display: none;
  }

  #menu.activo {
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: .2rem .5rem;
    border-radius: 5px;
    position: absolute;
    top: 40px;
    right: 0;
    z-index: 100;
    box-sizing: border-box;
  }

  #menu.activo li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40px;
    padding: 0 2rem;
  }

  #menu-hamburguesa {
    display: flex;
  }
}