body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
  height: 100vh;
}

nav,
footer {
  position: relative;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding: 0;
  box-sizing: border-box;
}
footer{
  padding: 1rem 1.5rem;
  justify-content: flex-start;
}


#contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  flex: 1;
  gap:1rem;
  width: 100%;
  height: 75vh;
  overflow: hidden;
  overflow-y: auto;
  padding: .5rem 1rem;
  box-sizing: border-box;
  scrollbar-gutter: calc();
  scrollbar-width: thin;
  scrollbar-color: #11461d;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: large;
  padding: 1.5rem .5rem;
  flex: 1;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
  border: none;
  height: 100%;
}

a:hover,
a:visited,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

a:hover,
a:focus {
  scale: 1.1;
  border: none;
}

table {
  width: 100%;
}

table tbody tr {
  box-sizing: border-box;
  gap: 0;
  padding: 0;
  margin: 0;
  position: relative;
}

table thead th {
  text-align: center;
}

table td {
  text-align: center;
  margin: 0;
  padding: 5px;
  box-sizing: border-box;
}

table tbody tr td:first-child {
  padding-left: 2rem;
}

.clickeable {
  cursor: pointer;
}

.clickeable:hover {
  scale: 1.01;
}

ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  list-style: none;
  margin: 0;
  padding: 0 .5rem;
  box-sizing: border-box;
}

li {
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 1.5em;
  padding: .2rem .5rem;
  position: relative;
  text-align: center;
}

button,
.btn-agregar {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  font-size: larger;
  border: none;
  border-color:none;
}

.btn-icono {
  box-shadow: none;
  border: none;
  width: 35px;
  height: 35px;
  font-size: 1.2em;
  transition: transform 0.3s ease;
}

.flecha-abierta {
  transform: rotate(180deg);
}

button:hover,
.btn-guardar:hover {
  scale: 1.05;
}

#menu-hamburguesa {
  width: 36px;
  height: 36px;
  display: none;
  border-radius: 5px;
  box-shadow: none;
  border: none;
  padding: 0;
  margin: 1rem;
  box-sizing: border-box;
}


#modo,
#guardarLista {
  padding: .5rem 2rem;
}

#botonera-agregar {
  position: absolute;
  top: 50%;
  translate: 0 -20px;
  right: 2rem;
}
#botonera-atras {
  position: absolute;
  top: 50%;
  translate: 0 -20px;
  left: 2rem;
}

.botonera-flecha-contenedor {
  position: absolute;
  z-index: 10;
  top: 45%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.botonera-flecha {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 .5rem;
  border-radius: 5px;
  gap:.5rem;
  background-color: var(--hover);
}

.botonera-flecha .btn-icono{
  background-color: var(--fondo-celda);
}

.btn-icono:hover{
  scale: 1.1;
}

.botonera-flecha:not(.oculto) {
  animation: fadeIn 0.5s ease;
}

.perfil{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 10px;
  margin: 1rem;
  box-sizing: border-box;
  max-width: 600px;
}

.inicio{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  height: 67vh;
}

.div-img {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  padding: 1rem;
  box-sizing: border-box;
  overflow: hidden;
}

.div-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  height: 100%;
  max-width: 90vw;
  object-fit: contain;
}

header {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  justify-content: center;
  padding: 0 1rem;
  box-sizing: border-box;
}

.titulo-index {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  padding: 0 1rem;
  box-sizing: border-box;
}

.titulo-index h1,
.titulo-index p {
  text-align: center;
}

#menu {
  list-style: none;
  display: flex;
  flex-direction: row;
  max-width: 100vw;
  padding: 0.1rem;
  box-sizing: border-box;
  gap: 0;
}

#menu li {
  display: flex;
  margin: 0;
  width: 100%;
  padding: 0;
  box-sizing: border-box;
}

.cambiar-modo,
#guardarLista {
  width: max-content;
}

.oculto {
  display: none;
}

.botonera {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  gap: 2rem;
}

table thead th {
  height: 40px;
}

table td {
  height: 40px;
}


.celda-cantidad{
  margin: 0;
  padding: 0;
}
.celda-cant-botonera{
  position: relative;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: .2rem;
  box-sizing: border-box;
}

.botonera-cantidad{
  display: flex;
  z-index: 10;
  position: absolute;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0 .5rem;
  width: 100%;
  box-sizing: border-box;  
}
.card{
  display: flex;
  flex-direction: row;
  flex: 1;
  max-width: 400px;
  border-radius: 20px;
  background-color: var(--fondo-celda);
  padding: .5rem;
  box-sizing: border-box;
}
.div-vertical{
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: .5rem;
  justify-content: space-around;
  padding: 0.5rem;
  box-sizing: border-box;
}
.div-vertical p, 
.div-vertical h2{
  padding: 0;
  margin: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@media(width <=700px) {
  h1 {
    font-size: 1.5em;
    text-align: center;
  }

  #menu {
    display: none;
  }

  #menu.activo {
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: .2rem .5rem;
    border-radius: 5px;
    position: absolute;
    top: 40px;
    right: 0;
    z-index: 100;
    box-sizing: border-box;
  }

  #menu.activo li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40px;
    padding: 0 2rem;
  }

  #menu-hamburguesa {
    display: flex;
  }
}

