body{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
  margin: 0;
  background-color: beige;
  box-sizing: border-box;
  overflow: hidden;
  max-height: 100vh;
}
nav{
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: #30411d;
  padding: .5rem auto;
  color: white;
}


a{
  text-decoration: none;
  color: inherit;
  font-size: large;
  padding: .5rem;
  flex: 1;
  cursor: pointer;
  border: 1px solid black;
  text-align: center;
}

a:hover, a:visited, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

a:hover, a:focus{
  scale: 1.1;
  border: none;
  background-color: #836628;
  color: black;
}
a:active{
  background-color: #90763e;
  color: black;
}
table{
  width: 100%;
  border: 2px solid black;
  flex: 1;

}

table tbody tr{
  cursor: pointer;
}

table tbody tr:hover{
  box-shadow: 1px 1px 1px black;
  scale: 1.01;
}

table thead th{
  text-align: center;
  border-bottom: 2px solid black ;
  border-left: 2px solid black;
} 

table td{
  text-align: center;
  border-bottom: 1px dashed black ;
  border-left: 1px solid black;
  margin: 0;
}

button{
  background-color: #11461d;
  color: white;
  box-shadow: 2px 2px 2px black;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  font-size: larger;
}

button:hover{
  scale: 1.1;
}


.agregar{
  position: absolute;
  top:50%;
  translate: 0 -20px;
  right: 2rem;
}

.contenedor{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1rem;
  box-sizing: border-box;
  overflow-y: auto;
  scrollbar-width:thin;
}

.cabecera{
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  justify-content: center;
  padding: 0 1rem;
  box-sizing: border-box;
}


