.modal {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.19);
  display: none;
}

.visble {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#modal-interno {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: .5rem 2rem;
  width: 60vw;
  min-height: 80px;
  max-height: 60vh;
  background-color: beige;
  border-radius: 10px;
  box-shadow: 1px 1px 1px black;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
  gap: 1rem;
  width: 80vw;
  padding: 1rem;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: thin;
}

input,
label,
select {
  width: 100%;
}

input,
select {
  height: 40px;
  border-radius: 10px;
  padding: 0 .5rem;
}

select {
  text-align: center;
}

.btn-guardar,
.btn-atras,
.btn-secundario {
  border-radius: 20px;
  padding: 0 1rem;
  font-size: large;
}
.btn-secundario {
  box-shadow: 1px 1px 1px var(--texto);
  background-color: var(--text);
  color: var(--app-fondo);
  width: 100%;
}

#btn-cerrar {
  background-color: beige;
  color: black;
  border: none;
  position: absolute;
  top: 10px;
  right: 10px;
}

.div-input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.input-check {
  max-width: 20px;
  max-height: 20px;
}

.div-check {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  margin: .5rem;
}

.li-input-check {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;
  gap: .2rem;
}

.ul-checkbox {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  width: 100%;
  padding: 1rem;
  border-radius: 5px;
  box-sizing: border-box;
}

.error {
  color: rgb(213, 54, 26);
}

.div-captchap {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  border: 1px solid black;
  border-radius: 10px;
  margin: 1rem;
}

.div-captchap p {
  border: 1px solid black;
  border-radius: 10px;
  font-size: 2em;
  font-style: oblique;
  font-weight: 700;
  padding: 0.5rem;
  text-decoration: line-through;
}

.botonera-form {
  display: flex;
  flex-direction: row-reverse;
  gap: 1rem;
  width: 100%;
  box-sizing: border-box;
}

@media(max-width:750px) {
  form {
    width: 95vw;
  }
}


@media(max-width:600px) {
  .div-input {
    gap: .2rem;
    flex-direction: column;
  }
}

@media(width <=400px) {
  .botonera {
    display: flex;
    flex-direction: column;
    gap:.5rem;
  }

  .botonera-form {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
  }

  .btn-guardar,
  .btn-atras {
    flex: none;
    height: 40px;
    width: 100%;
  }

}